@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

/* Navbar Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > h3 {
  font-size: 2rem;
}
.menu ul {
  display: flex;
  gap: 30px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}
.menu-home {
  color: #fea301;
}
.menu-about {
  color: #01acfd;
}
.menu-facilities {
  color: #05d4df;
}
.menu-admission {
  color: #5d58ef;
}
.contact-btn button {
  background-color: #fea301;
  padding: 12px 36px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 600;
}
.ham-menu {
  display: none;
}
.mobile-nav-margin {
  display: none;
}

/* Banner section */
.banner {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 20px;
}
.banner-content {
}
.banner-image {
}
.banner-title {
  font-size: 3.5rem;
}
.banner-desc {
  font-size: 1.25rem;
  margin: 24px 0;
}
.banner-btn {
  padding: 10px 50px;
  background-color: #000000;
  color: #fff;
  border-radius: 12px;
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 700;
}
.banner-first-title {
  color: #fea301;
}
.banner-lst-title {
  color: #01acfd;
}

/* Marque text-style */
.marque-text {
  height: 50px;
  overflow: hidden;
  position: relative;
  margin: 30px 0;
}
.marque-text h3 {
  font-size: 2.5rem;
  color: #fea301;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes example1 {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
/* marque end */

/* Curriculum section */
.curriculum-section{
  margin: 70px 0;
  background-image: url('../assets/bg.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.curriculum-container{
  display: flex;
  gap: 30px;
}
.curriculum-card{
  padding: 40px;
  border-radius: 18px;
  background-color: #fff;
  text-align: center;
}
.surriculum-title{
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 50px;
}


/* story section */
.story-section{
    margin: 70px 0;
    background-image: url('../assets/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.story-title{
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 50px;
}
.story-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}
.story-card{
    background-color: #FFFFFF;
    border-radius: 16px;
}
.story-card h3, p{
    padding: 15px;
}
.card-img{
    border-radius: 16px 16px 0 0;
}
#story-card1{
    grid-row: span 2;
}
.story-viewall-btn{
  text-align: center;
  margin-top: 50px;
}
.story-viewall-btn button{
  padding: 10px 50px;
  background-color: #000000;
  color: #fff;
  border-radius: 12px;
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 700;
}










/* Footer section */
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px 0;
}
.site-info img{
    height: 100px;
    width: 100px;
}
.site-info p{

}
.footer-menu{
    display: flex;
}
.social-icon{
    display: flex;
}
.footer-menu li{
  list-style: none;
}
.footer-menu li a{
  text-decoration: none;
  color: #0000000;
}



/* Media query */
@media screen and (max-width: 576px) {
  .contact-btn button {
    display: none;
  }
  .body {
    margin: 0 20px;
  }
  .menu {
    display: none;
  }
  .ham-menu {
    display: block;
    font-size: 30px;
  }
  .logo > h3 {
    display: none;
  }
  .mobile-nav-margin {
    display: block;
    color: #fea301;
  }
  /* banner respo */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-content {
    text-align: center;
  }
  .banner-title {
    font-size: 3.1rem;
  }

  /* Curriculum Section */
  .curriculum-container{
    flex-direction: column;
    gap: 15px;
  }

}
